<div class="todolist">
  <h2>To Do List</h2>

  <div class="add">
    <input [(ngModel)]="newTitle" placeholder="New todo title" />
    <button (click)="add()">Add</button>
  </div>

  <ul>
    <li *ngFor="let todo of todos">
      <div *ngIf="editingId !== todo.id">
        <label>
          <input type="checkbox" [checked]="todo.isDone" (change)="toggleDone(todo)" />
          <span [class.done]="todo.isDone">{{ todo.title }}</span>
        </label>
        <button (click)="startEdit(todo)">Edit</button>
        <button (click)="delete(todo)">Delete</button>
      </div>
      <div *ngIf="editingId === todo.id">
        <input [(ngModel)]="editTitle" />
        <button (click)="saveEdit(todo)">Save</button>
        <button (click)="cancelEdit()">Cancel</button>
      </div>
    </li>
  </ul>
</div>
